
.container {
    width: 60%;
    margin: 30px auto;
}

.chat-area {
height: 80vh;
background: #8DB4E5;
overflow: scroll
}


.message-area {
height: 10vh;
display: flex;
}

/* テキストエリアは80%で表示 */
.message-area-text {
width: 80%;
}

/* テキストエリアは20%で表示 */
.message-area-button {
width: 20%;
}

.message-area-text textarea {
width: 100%;
height: 100%;
resize: none; /* これでユーザーのリサイズをできなくする */
border: 1px solid #ddd; /* 枠線をつけて領域を分かりやすく */
box-sizing: border-box; /* borderを付けてるので、border込の大きさにする */
}

.message-area-button button {
width: 100%;
height: 100%;
background: #61E739;
color: #fff;
font-size: 2.0rem;
font-weight: bold;
border: 0;
}

/* ここから */

.message-container-me p{
  max-width: 70%;
  border-radius: 20px;
  padding: 10px 30px;
  background: #61E739;
} 

/* チャットの時間とメッセージを囲うdiv */
.message-container {
    margin: 0 10px;
}

.message-container-you, .message-container-me{
  display: flex;
  margin: 0 10px;
}


.message-container-you p {  
    background: #fff;
    max-width: 300px;
    border-radius: 20px;
    padding: 10px 30px;
    color: #001A32;
    font-weight: bold; 
}

.message-container-you .h6 {
  margin-right: 10px;
  color: #33415B; /* 少し薄いグレー */
  align-self: flex-end;
}

.message-container-you h6 {
  order: 2; /* orderを2指定することで、flex-boxの中で最後に配置する */
  margin-left : 10px;
}

.message-container-me h6 {
  margin-right : 10px;
}


.message-container-you {
  justify-content: flex-start;
}

/* 自分のメッセージの場合、右寄せにしたい */
.message-container-me {
  justify-content: flex-end;
}




.message-person input {
    display: none;
}


  .message-person {
    display: flex;
    margin: 5px 0;
  }

  /* ラジオボタンはラベルで表現するので非表示にしちゃう */
  .message-person input {
    display: none;
  }

  .message-person label {
    display: block;
  }

  .message-person label {
    display: block;
    cursor: pointer;
    width: 60px;
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
    background: #BDC3C7;
    color: #fff;
  }

    /* チェックが入ってる方のラジオボタンの隣のlabelを背景緑にする */
    .message-person input[type="radio"]:checked + label {
    background: #61E739;
  }

